#salsita-bf7gv34dbf29r3gr-modal-content

  .spinner
    .loading-spinner(style="width: 200px; margin-left: -100px;")
      .progress.progress-striped.active
        .progress-bar(style="width: 100%;")

  .content.modal-body
    .title
    hr
    .description
    img.preview-image
