#previewContainer.modal.fade(data-replace="true", tabindex='-1', role='dialog', aria-labelledby='translate-label', aria-hidden='true')

  .modal-content

    .modal-header
      button(type="button", class="close", data-dismiss="modal", aria-hidden="true") x
      h4.title

    #content.modal-body
      .description
      img.preview-image
