#salsita-bf7gv34dbf29r3gr-modal-content

  .kitt-link-preview-spinner
    .kitt-link-preview-progress
      span

  .kitt-link-preview-content.kitt-link-preview-modal-body
    .kitt-link-preview-title
    .kitt-link-preview-description
    img.kitt-link-preview-image
